* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #ccc;
  --light-grey: #f1f1f1;
}

body {
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

#sidebar {
  display: none;
  height: 100vh;
  width: 40%;
  min-width: 300px;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: auto;
  background-color: var(--white);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 24px !important;
  animation: animateleft 0.5s ease;
}

@keyframes animateleft {
  from {left:-300px; opacity:0}
  to {left:0; opacity:1}
}

.sidebar-item {
  display: block;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: var(--black);
}

.sidebar-item:hover {
  text-decoration: none;
  color: var(--black) !important;
  background-color: var(--grey) !important;
}

#topbar {
  color: #000;
  background-color: var(--white);
  font-size: 24px;
}

.toggle-button {
  border: none;
  outline: none !important;
  padding: 16px;
  background-color: var(--white);
  float: left;
}

.toggle-button:hover {
  color: var(--black) !important;
  background-color: var(--grey) !important;
}

.brand {
  text-align: center;
  padding: 16px;
}

.email {
  padding: 16px;
  float: right;
}

.email a {
  color: var(--black);
  text-decoration: none;
}

/* Photos section */
#content {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 68px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

div[class*="col"] {
  margin-bottom: 15px;
}

h5 {
  font-weight: bold;
}

/* Pagination */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover {
  color: #000!important;
  background-color: #ccc!important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

footer {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 68px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

footer li:hover {
  background-color: #ccc;
}

footer img {
  width: 50px;
  float: left;
  margin-right: 16px;
}

footer ul li:last-child {
  border: none;
}

.tag {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-bottom: 16px;
  background-color: #616161;
  color: #fff;
  font-size: 12px;
}

.black-tag {
  color: white;
  background-color: #000;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-bottom: 16px;
}

footer a {
  color: var(--black);
  text-decoration: underline;
}

footer a:hover {
  color: var(--black);
}